<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>{% block title %} {% endblock title %}</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">iCoders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link {% block Home %} {% endblock Home %}"  href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block About %} {% endblock About %}" href='/about'>About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link {% block Blog %} {% endblock Blog %}" href='/blog'>Blog</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link {% block Contact %} {% endblock Contact %}" href='/contact'>Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block Author %} {% endblock Author %}" href='/author'>AboutAuthor</a>
      </li>
    </ul>
    <!-- <form method="get" action="/search" class="form-inline my-2 my-lg-0">
      <input class="form- control mr-sm-2" name='query' id ='query' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit">Search</button>
    </button> -->
    <form class="form-inline my-2 my-lg-0 mx-3" form method="get" action="/search">
        <input class="form-control mr-sm-2" type="search" name='query' id ='query' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    {% if user.is_authenticated %}
    <ul class="nav-bar nav">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      </ul>
      {% else %}
      
    <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#loginmodal">
      Login
    </button>
      <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#signupmodal">
        SignUp</button>
      {% endif %}




    
    </form>
  </div>
</nav>


{% for message in messages  %}
<div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
  <strong>{{message.tags}}</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


<!-- sign up  modal -->


  


<!-- Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="signupmodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupmodalTitle">SignUp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      


      <div class="modal-body">



        <form action='/signup' method='post'>
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username (Alphanueric only)" required >
          </div>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
           </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" required>
           </div>
          
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password" required>
          </div>
          
          <div class="form-group">
            <label for="pass2">Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Password" required>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>





      </div>
     
      </div>
  </div>
</div>


<!-- login-->

<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginmodalTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form action="/login" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="loginusername">Username</label>
            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
          </div>
          
        
        
        
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>





      </div>
      </div>
  </div>
</div>



{% block body %} {% endblock body %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>